{% extends "base_generic.html" %}

{% block title %}
<title>Greenhouses S.A. Profile Page</title>
{% endblock %}

{% block content %}
<div class="text-center  px-4 ">
    <h2><ins>Ο Σκοπός μας</ins></h2>
    <h5>
        H εταιρία μας δημιουργήθηκε το 2013. <br>
        Ο σκοπός της είναι η καταγραφή και επεξεργασία των δεδομένων που λαμβάνονται από τους
        παραγωγούς και με την βοήθεια ειδικών η εξαγωγή συμπερασμάτων. Τα συμπεράσματα αυτά χρησιμοποιούνται για:
        <li>Kαλυτέρευση της καλλιέργειας.</li>
        <li>Αύξηση της απόδοσης της καλλιέργειας</li>
        <li>Μείωση κόστους παραγωγής</li>
        <li>Προστασία του περιβάλλοντος</li>
    </h5>
    <br>

    <h2><ins>Οι υπάληλλοι και οι συνεργάτες μας</ins></h2>
    <h5>
        Η εταιρία μας διαθέτει 23 υπαλλήλους και συνεργάζεται με αρκετούς ανεξάρτητους συνεργάτες. <br>
        Οι υπάληλλοί μας καλυπτουν μια ευρεία γκάμα ειδικοτήτων όπως γεωπόνοι, γεωτεχνικοί, μηχανολόγοι και μηχανικοί
        ηλεκτρονικών υπολογιστών. Εξαιρετική συνεισφορά έχουν και οι εξειδικευμένοι ανεξάρτητοι συνεργάτες μας που
        διαθέτει
        η εταιρίας μας σε όλη την χώρα
    </h5>
</div>
{% endblock %}

</html>